appdirs
Appium-Python-Client
beautifulsoup4
certifi
charset-normalizer
furl
idna
lxml
orderedmultidict
requests
robotframework
robotframework-appiumlibrary
robotframework-pythonlibcore
robotframework-requests
robotframework-seleniumlibrary
robotframework-seleniumtestability
robotframework-testrail
selenium
six
soupsieve
tqdm
urllib3
webdriver-manager
wrapt
